account: interactivosradio
password: changeme
server: imap.gmail.com
destination_folder: /var/lib/mpd/music
jingle_folder: /var/lib/mpd/music/jingles

mpd_host: localhost
mpd_port: 6600

use_twitter: false
twitter_app_name: "your-app-name"
twitter_consumer_key: "changeme"
twitter_consumer_secret: "changeme"

email_interval: 60

jingle_frequency: 1

respond_to_emails: True
smtp_server: smtp.gmail.com
response_text: "Sweet!  Thanks for submitting to Autonomous Interactive Radio.  Your track is queued up and will be played shortly.  Stay tuned..."
